.issue-detail {
  max-width: 735px;
  margin: 0 auto;
}

.issue-detail .title {
  margin-bottom: 15px;
}
.issue-detail .title .header {
  font-size: 22px;
  color: #24282d;
}

.issue-id {
  color: #6a737d;
}

.issue-comments {
  width: 100%;
}

.divider {
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid #e1e4e8;
}
