.issue-detail {
  display: flex;
  margin: auto;
  flex-direction: column;

  justify-content: center;
}
.title {
  margin-top: 10px;
  display: flex;
}
.header {
  margin: auto;
  font-weight: 400;
  line-height: 1.125;
  word-wrap: break-word;
}
h1 {
  display: block;
}
