.comment-form {
  display: flex;
}
.comment-form .avatar {
  width: 40px;
  height: 40px;
}

.comment-form .comment-box {
  flex: 1;
  margin-left: 16px;
  border-left: 1px solid #d1d5da;
  border-top: 1px solid #d1d5da;
  border-right: 1px solid #d1d5da;
  border-bottom: 1px solid #d1d5da;
  border-radius: 4px;
}

.comment-form .comment-header {
  padding: 8px 8px 0;
}
.comment-form .comment-header span {
  display: inline-block;
  padding: 8px;
  font-size: 13px;
}
.comment-form .comment-header .write {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-bottom: 1px solid #fff;
  position: relative;
  z-index: 2;
  top: 1px;
}

.comment-form .comment-body textarea {
  width: 100%;
  border-color: #d1d5da;
  min-height: 80px;
  padding: 8px;
  font-size: 13px;
  border-radius: 4px;
}
