.issue {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #e2e4e8;
  align-items: center;
}

.issue:hover {
  background: #f7f8fa;
}

.detail {
  flex: 1;
}

.open.octicon {
  color: #28a745;
}

.detail .title {
  text-overflow: ellipsis;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  color: #24292f;
}
.icon {
  color: green;
  margin-right: 5px;
}
.link {
  text-decoration: none;
  color: black;
}

.issue-comment {
  color: #586069;
  position: relative;
  font-size: 12px;
}

.issue-comment svg {
  position: relative;
  left: -5px;
  top: 4px;
  fill: #586069;
}
