.issue-comment {
  display: flex;
}

.issue-comment .avatar {
  width: 40px;
  height: 40px;
}

.issue-comment .comment-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d5da;
  margin-bottom: 30px;
  border-radius: 4px;
  flex: 1;
  margin-left: 16px;
  position: relative;
}

.issue-comment .comment-box::before {
  content: "";
  height: 50px;
  width: 2px;
  background: #e1e4e8;
  position: absolute;
  z-index: -5;
  bottom: -30px;
  left: 8px;
}

.comment-box .comment-header {
  background-color: #f6f8fa;
  padding: 8px;
  border-bottom: 1px solid #d1d5da;
  position: relative;
}

.comment-header::after {
  content: "";
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #d1d5da;
  border-left: 0;
}

.comment-header .user {
  color: #24292e;
  font-weight: 600;
}

.comment-box .comment-body {
  background-color: #fff;
  padding: 8px 8px 20px;
  border-bottom: 1px solid #d1d5da;
}

.comment-box .comment-footer {
  background-color: #fff;
  padding: 15px;
}

.comment-box .comment-body p {
  line-height: 1.4rem;
}
/* 
.commentPage {
  display: flex;
  justify-content: center;
}
.commentBox {
  width: 75%;
  padding-left: 16px;
  position: relative;
  display: flex;
}

.commentHeaderText {
  width: 1%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1px;
  flex: 1 1 auto;
}
.discussion_bucket {
  display: flex;
  width: 75%;
  justify-content: center;
  margin-left: auto;
  margin-top: 40px;
}

.avatar {
  position: absolute;
  left: -72px;
  z-index: 1;
  display: inline-block;
}
.photo {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px !important;
}
img {
  border-style: none;
  height: 40px;
  width: 40px;
}
.commentContent {
  max-width: 100%;
  color: #444d56;
  flex: auto;
  position: relative;
  color: #24292e;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}
.commentHeader {
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  color: #586069;
  flex-direction: row-reverse;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d1d5da;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.headerText {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1px;
  flex: 1 1 auto;
  font-weight: 400 !important;
  font-size: 14px !important;
}
.reactions {
  border-top: 1px solid #e1e4e8;
  height: 45px;
}
.body p {
  padding: 10px;
}
.divider {
  width: 65%;
  background-color: #d1d5da;
  margin-top: 40px;
  margin-left: auto;
  margin-right: 40px;
}
.commentPost {
  display: flex;
  width: 75%;
  justify-content: center;
  margin-left: auto;
  margin-top: 40px;
}
.commentBoxPost {
  display: flex;
  width: 75%;
  justify-content: center;
  margin-left: 380px;
  margin-top: 40px;
}
.text-area {
  display: block;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  padding: 8px;
  resize: vertical;
  border-bottom: 1px dashed #dfe2e5;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 100%;
  height: 100px;
  margin: 0;
  line-height: 1.6;
  background-color: #fafbfc;
} */
