body {
  color: #24292f;
  font-size: 16px;
}

.issueList {
  margin-top: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #d1d5db;
}

.issue-opened-icon,
.issue-closed-icon {
  position: relative;
  top: 2px;
}

.issue-opened-icon {
  fill: #28a745;
  margin-right: 10px;
}

.issue-closed-icon {
  fill: #24292f;
  top: 3px;
}
